<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>PartyUp</title>
</head>
<body>
    <header class="header">
        <div class="header__items">
            <a class="header__logo" href="./landing.html">logo</a>
            
            <div class="header__ancores">
                <a href="./login.html">Iniciar sesion</a>
                <a href="./register.html">Registrarse</a>
            </div>
        </div>
    </header>

    <main>
        <div class="login__container">
            <div class="login__titles">
                <h2>Iniciar sesion</h2>
                <p>¿No eres miembro todavía? <a href="./register.html">Registrate</a></p>
            </div>
            <div class="login__formulary">
                <form action="">
                        <h4>Nombre de usuario</h4>
                        <input class="login__input" type="text">
                        <h4>Contraseña</h4>
                        <input class="login__input" type="text">
                </form>
            </div>
            <button class="login__button">Iniciar sesión</button>
        </div>
    </main>

    <footer class="footer">
        <p>© 2018 Partyup  Partyup es una subsidiaria totalmente controlada por Dani Companies Inc.</p>
    </footer>
</body>
</html>