<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>PartyUp</title>
</head>
<body>
    <header class="header">
        <div class="header__items">
            <a class="header__logo" href="./landing.html">logo</a>
            
            <div class="header__ancores">
                <a href="create_partyup.html">Crear Partyup</a>
                <a href="./profile.html">Perfil</a>
                <a href="./landing.html">Cerrar sesión</a>
            </div>
        </div>
    </header>

    <main>
        <div class="partyup__header">
           <div class="partyup__header--info">
               <div class="partyup__infoheader--date">
                    <h4>Fecha</h4>
                    <h4>Localidad</h4>
               </div>
               <h2>Titulo</h2>
               <h4>Host</h4>
           </div>
           <div>
                <h2>Asistir</h2>
                <div>
                    <button>Si</button>
                    <button>No</button>
                </div>
           </div>
        </div>


           <div>
               <h2>Descripcion</h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fugit commodi maiores laboriosam, reprehenderit consequatur eum ex neque. Fugit temporibus quo natus dolores ducimus assumenda eligendi consequuntur corrupti vero veniam!</p>
                <h2>Asistentes</h2>
                <ul>
                    <li>Dani</li>
                    <li>Sasha</li>
                    <li>Eustequio</li>
                </ul>
            </div>
        
    </main>
    
    <footer class="footer">
        <p>© 2018 Partyup  Partyup es una subsidiaria totalmente controlada por Dani Companies Inc.</p>
    </footer>
</body>
</html>