<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>PartyUp</title>
</head>
<body>
    <header class="header">
            <div class="header__items">
                <a class="header__logo" href="./landing.html">logo</a>
                
                <div class="header__ancores">
                    <a href="./login.html">Iniciar sesion</a>
                    <a href="./register.html">Registrarse</a>
                </div>
            </div>
    </header>

    <main>
        <div class="register__container">
            <div class="register__titles">
                <h2>Registrarse</h2>
                <p>¿Ya eres miembro? <a href="./login.html">Iniciar sesión</a></p>
            </div>
            <div class="register__formulary">
                <form action="">
                        <h4>Nombre</h4>
                        <input class="register__input" type="text">
                        <h4>Apellidos</h4>
                        <input class="register__input" type="text">
                        <h4>Ciudad</h4>
                        <input class="register__input" type="text">
                        <h4>Nombre de usuario</h4>
                        <input class="register__input" type="text">
                        <h4>Contraseña</h4>
                        <input class="register__input" type="text">
                </form>
            </div>
            <button class="register__button">Registrarse</button>
        </div>
    </main>

    <footer class="footer">
        <p>© 2018 Partyup  Partyup es una subsidiaria totalmente controlada por Dani Companies Inc.</p>
    </footer>
</body>
</html>