<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>PartyUp</title>
</head>
<body>
    <header class="header">
        <div class="header__items">
            <a class="header__logo" href="./landing.html">logo</a>
            
            <div class="header__ancores">
                <a href="create_partyup.html">Crear Partyup</a>
                <a href="./profile.html">Perfil</a>
                <a href="./landing.html">Cerrar sesión</a>
            </div>
        </div>
    </header>

    <main>
        <section>
            <div class="search__searchoptions">
                <select defaultValue="CHOOSE" name="city" id="" onChange="">
                    <option value="CHOOSE">Elige una ciudad</option>
                    <option value="BCN">Barcelona</option>
                    <option value="MDR">Madrid</option>
                    <option value="BLO">Bilbao</option>
                    <option value="VLC">Valencia</option>
                    <option value="SVA">Sevilla</option>
                </select>
                <select defaultValue="CHOOSE" name="city" id="" onChange="">
                    <option value="CHOOSE">Elige un tag</option>
                    <option value="1">Pop</option>
                    <option value="2">Jazz</option>
                    <option value="3">Rock</option>
                    <option value="4">Heavy</option>
                    <option value="5">Indie</option>
                    <option value="6">Reggae</option>
                    <option value="7">Reggaeton</option>
                    <option value="8">Blues</option>
                    <option value="9">Soul</option>
                    <option value="10">Electronica</option>
                    <option value="11">Clasica</option>
                    <option value="12">Desfase</option>
                    <option value="13">De tranquis</option>
                    <option value="14">Otros</option>
                    <option value="15">Varios</option>
                </select>
                <button>Buscar</button>
            </div>
        </section> 
        <section class="partyups">
            <div class="partyups__list">
                <div class="partyups__event">
                    <p>Sabado, 17 de noviembre 8:00</p>
                    <h4>Skylabeers</h4>
                    <p>Fiesta en skylab con cerveza</p>
                    <p>Creado por: Dani</p>
                </div>
                <div class="partyups__event">
                    <p>Sabado, 18 de noviembre 8:00</p>
                    <h4>Skylabeers</h4>
                    <p>Fiesta en skylab con cerveza</p>
                    <p>Creado por: Dani</p>
                </div>
                <div class="partyups__event">
                    <p>Sabado, 19 de noviembre 8:00</p>
                    <h4>Skylabeers</h4>
                    <p>Fiesta en skylab con cerveza</p>
                    <p>Creado por: Dani</p>
                </div>
            </div>  
        </section> 
    </main>
    
    <footer class="footer">
        <p>© 2018 Partyup  Partyup es una subsidiaria totalmente controlada por Dani Companies Inc.</p>
    </footer>
</body>
</html>